html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESETS ABOVE */

nav.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    
}

.nav-item{
    margin: 0.2em;
}

.nav-item i{
    font-weight: bold;
    letter-spacing: 0.1em;
}

.nav-item i:hover{
    color: #c9192e;
}

.nav-item i span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-left: 5px;
}

.nav-item i span:hover{
    cursor: pointer;
}

.marquee_text{
    background-color: #2b2b2b;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.marquee_text marquee{
    padding: 6px 0;
    font-size: 0.8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.signup_banner{
    padding: 0.3em 0;
    background-color: #c9192e;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.signup_banner:hover{
    cursor: pointer;
}

.signup_banner p{
    padding: 6px 0;
    font-size: 0.8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/* HEADER COMPLETE ABOVE */

/* BANNER IMAGE BELOW */
.promotional_product{
    margin: 5px 0;
}

.promotional_product img{
    max-width: 100vw;
}

main.collections{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

main .collection_container{
    padding: 2.5em 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.collection_container img{
    width: 100%;
}

.collection_container h2{
    font-family: 'Bebas Neue', cursive;    
    font-weight: 900;
    font-size: 3em;
    letter-spacing: 2px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 0.3em 2em;
}

.collection_container p{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1em ;
}

.collection_container button{
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s;
}

.collection_container button:hover{
    background-color: white;
    color: black;
}

.section_title{
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;    
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 2px;
}

.customer_categories{
    display: flex;
    flex-direction: column;
}

.shop_by{
    height: 40vh ;
}

.men_shop_by{
    background-image: url(/images/men_shopby.webp);
    background-color: transparent;
    background-repeat: no-repeat;
    height: 40vh;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.women_shop_by{
    background-image: url(/images/women_shopby.webp);
    background-color: transparent;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.kids_shop_by{
    background-image: url(/images/kids_shopby.webp);
    background-color: transparent;
    background-repeat: no-repeat;
    height: 40vh;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.shop_by h2{
    font-size: 1.5em;
    color: white;
    letter-spacing: 2px;
}

.shop_by ul{
    text-align: center;
    padding: 0.5em 0;
}

.shop_by li{
    padding: 0.25em 0;
}

.shop_by a {
    text-decoration: none;
    color: #5799c4;
    letter-spacing: 1.5px;
    transition: all 0.2s;
}

.shop_by a:hover{
    background-color: #c9192e;
    color: white;
}


.favourite_item img{
    max-width: 80vw;
}